.Footer {
    background-color: #FFFBEE;
    text-align: center;
    padding: 120px 0;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Footer h1{
    font-family: 'Fraunces', serif;
    font-style: bold;
    font-weight: 900;
    font-size: 64px;
    line-height: 40px;
    color: black;
    margin-bottom: 10px;
}

.Footer h3{
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: black;
    margin-bottom: 20px;
}

.Footer p {
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: black;
}

@media screen and (max-width: 680px) {
    .Footer {
        padding: 60px 1rem;
        gap: 0.5rem;
    }

    .Footer h1 {
        font-size: 42px;
        line-height: 48px;
    }

    .Footer h3 {
        font-size: 20px;
        line-height: 24px;
    }

    .Footer p {
        font-size: 16px;
        line-height: 24px;
    }
}
